<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.client.visitor.dao.VisitCountDAO">

    <insert id="insertVisitor" parameterType="visitor">
		INSERT INTO VISITOR (VISIT_NO,VISIT_ID,VISIT_TIME) 
		VALUES (VISITOR_SEQ.NEXTVAL,#{VISIT_ID},SYSDATE)
 		
    </insert>
    
    <select id="visitsByToday" resultType="int">
    SELECT COUNT(*) 
    FROM VISITOR
    WHERE TO_CHAR(VISIT_TIME, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<select id="visitsByTotal" resultType="int">
    SELECT COUNT(*) 
    FROM VISITOR
	</select>
    



</mapper>